{% extends 'base.html' %}

{% block body %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Employee Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Weather</th>
                <th scope="col">News</th>
                <th scope="col">Service</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
            <tr>
                <td>1,001</td>
                <td>random</td>
                <td>data</td>
                <td>placeholder</td>
                <td>text</td>
                <td>text</td>
                <td>text<br>text2</td>
                <td>text</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}